In [1]:
## Importing librarary

import os
import csv
import requests
import bs4
import pandas as pd

In [37]:

# downloading the webpage and parsing
url=requests.get("https://www.cricbuzz.com/cricket-stats/icc-rankings/men/batting")
soup = bs4.BeautifulSoup(url.content, 'lxml')

In [58]:
# Extracting the required data 
table1 = soup.find_all(class_="cb-col cb-col-16 cb-rank-tbl cb-font-16")
table2 = soup.find_all(class_="text-hvr-underline text-bold cb-font-16")
table3= soup.find_all(class_="cb-font-12 text-gray")
rank=[]
Name=[]
Country=[]
link=[]
for row in range(100):
    rank.append(table1[row].get_text())
    Name.append(table2[row].get_text())
    Country.append(table3[row].get_text())
    link.append(table2[row]['href'])

In [99]:
# Creating a Data Frame
Data_frame=pd.DataFrame(zip(rank,Name,Country,link),columns=["Rank","Name","Country","Link"])
Data_frame.head(5)

  Rank                Name      Country                                Link
0    1     Kane Williamson  NEW ZEALAND      /profiles/6326/kane-williamson
1    2        Steven Smith    AUSTRALIA         /profiles/2250/steven-smith
2    3  Marnus Labuschagne    AUSTRALIA  /profiles/10182/marnus-labuschagne
3    4         Virat Kohli        INDIA          /profiles/1413/virat-kohli
4    5            Joe Root      ENGLAND             /profiles/8019/joe-root

In [102]:
# Summary
Players=pd.DataFrame(Data_frame.groupby("Country").count().Rank)
Players.head(5)

             Rank
Country
AFGHANISTAN     3
AUSTRALIA      11
BANGLADESH      7
ENGLAND        11
INDIA          15